<!DOCTYPE html>
<html>

<head>
    <title>Fruits</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <link href="/css/style.css" rel="stylesheet" type="text/css">

</head>

<body>
    <header>
        <h1>All Fruits</h1>
    </header>
    <main>
        <table>
            <tr>
                <th>Fruit</th>
                <th>Color</th>
            </tr>
            <% fruits.forEach(o=> { %>
                <tr>
                    <td>
                        <%= o.name %>
                    <td>
                        <%= o.color %>
                    </td>
                    <td><a href="/fruits/<%= o.id %>" </a>Details</td>
                </tr>
                <% }) %>
        </table>
    </main>
</body>

</html>