<!DOCTYPE html>
<html>

<head>
    <title>Fruits</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <link href="/css/style.css" rel="stylesheet" type="text/css">
</head>

<body>
    <header>
        <h1>
            <%= name %>
        </h1>
    </header>
    <main>
        <table>
            <tr>
                <th>Key</th>
                <th>Value</th>
            </tr>
            <tr>
                <td>ID</td>
                <td>
                    <%= id %>
                </td>
            </tr>
            <tr>
                <td>Color</td>
                <td>
                    <%= color %>
                </td>
            </tr>
        </table>
        <a href="/fruits">Go Back</a>
    </main>
</body>